name: Build PandoraBox-phicomm-k1
on:
  push:
    branches: [main]
  workflow_dispatch: # 支持手动触发

jobs:
  build:
    runs-on: ubuntu-18.04 # 匹配教程指定环境
    steps:
      - name: 安装编译依赖
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libssl1.0-dev nodejs-dev node-gyp npm
          sudo apt-get install -y golang build-essential libncurses5-dev zlib1g-dev gawk git libssl-dev wget unzip python ocaml-nox help2man texinfo yui-compressor

      - name: 下载PandoraBox ImageBuilder
        run: wget http://downloads.pangubox.com:6380/pandorabox/19.01/targets/ralink/mt7620/PandoraBox-ImageBuilder-ralink-mt7620.Linux-x86_64-2018-12-31-git-4b18a9c6c.tar.xz

      - name: 解压ImageBuilder
        run: tar -Jxvf PandoraBox-ImageBuilder-ralink-mt7620.Linux-x86_64-2018-12-31-git-4b18a9c6c.tar.xz

      - name: 编译phicomm-k1固件
        run: |
          cd PandoraBox-ImageBuilder-ralink-mt7620.Linux-x86_64-2018-12-31-git-4b18a9c6c
          make image PROFILE="phicomm-k1" PACKAGES=" -dosfsck -luci-i18n-phddns2-zh-cn -mkdosfs"

      - name: 上传编译产物
        uses: actions/upload-artifact@v3
        with:
          name: PandoraBox-phicomm-k1-firmware
          path: PandoraBox-ImageBuilder-ralink-mt7620.Linux-x86_64-2018-12-31-git-4b18a9c6c/bin/
