name: Build PandoraBox-phicomm-k1
on:
  push:
    branches: [master]
    paths: [".github/workflows/openwrt.yml"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 删除冗余ros.bin
        run: rm -f .github/workflows/ros.bin || true

      - name: 安装基础依赖（不含python2）
        run: |
          sudo apt update -y
          sudo apt full-upgrade -y
          sudo apt install -y build-essential libncurses5-dev zlib1g-dev gawk git libssl-dev wget unzip ocaml-nox help2man texinfo npm golang node-gyp

      - name: 手动安装Python2.7（解决ubuntu24.04无python2包问题）
        run: |
          wget https://www.python.org/ftp/python/2.7.18/Python-2.7.18.tgz
          tar xzf Python-2.7.18.tgz
          cd Python-2.7.18
          ./configure --prefix=/usr/local --enable-unicode=ucs4 --enable-shared LDFLAGS="-Wl,-rpath /usr/local/lib"
          make -j$(nproc)
          sudo make altinstall
          sudo ln -s /usr/local/bin/python2.7 /usr/bin/python2
          sudo ln -s /usr/local/bin/python2.7 /usr/bin/python

      - name: 下载新版ImageBuilder
        run: |
          IMG_URL="http://downloads.pangubox.com:6380/pandorabox/19.01/targets/ralink/mt7620/PandoraBox-ImageBuilder-ralink-mt7620.Linux-x86_64-2018-12-31-git-4b6a3d5ca.tar.xz"
          wget --spider $IMG_URL || { echo "地址失效，编译终止"; exit 1; }
          wget $IMG_URL -O pb-imagebuilder.tar.xz

      - name: 解压ImageBuilder
        run: tar -Jxvf pb-imagebuilder.tar.xz

      - name: 编译phicomm-k1固件
        run: |
          cd PandoraBox-ImageBuilder-ralink-mt7620.Linux-x86_64-2018-12-31-git-4b6a3d5ca
          make image PROFILE="phicomm-k1" PACKAGES=" -dosfsck -luci-i18n-phddns2-zh-cn -mkdosfs" || { echo "编译失败"; exit 1; }

      - name: 上传产物
        uses: actions/upload-artifact@v4
        with:
          name: PandoraBox-phicomm-k1-firmware
          path: ./PandoraBox-ImageBuilder-ralink-mt7620.Linux-x86_64-2018-12-31-git-4b6a3d5ca/bin/
          retention-days: 7
